# Requirements

## Prerequisites

The library has the following prerequisites, 
which need to be installed first in the order they are listed:

1. GMP https://gmplib.org
2. gf2x https://gitlab.inria.fr/gf2x/gf2x/-/tree/gf2x-1.3.0?ref_type=tags
   (when pulling the repository, compile and install from the version 1.3.0 tag)
3. ntl libntl.org
   (install with gf2x according to https://libntl.org/doc/tour-gf2x.html)

If not listed otherwise, all libraries should be built with the most recent stable version.

## Overview

There are four directories contained in the tarball:

.
|
|- f2lin (the actual library)
|
|- util (utilities for benchmarking)
|
|- pbs (scripts to submit a job)
|
|- benchmarks (results of benchmark)

## Installing f2lin benchmarks

The benchmarks for f2lin can be installed by running `make benchmark` 
from the ./f2lin directory.

This will build all the binaries and put them in ./f2lin/bin/bench.

The make command should run out of the box, provided all libraries are in $HOME/.local/lib,
or on $PATH.

## Running a benchmark

The pbs file for running benchmarks is found in ./pbs. It runs the strong scaling benchmark
from each random number generator.
The number of iterations for the loop which is measured can be set via the `IT` environment
variable.
The number of repetitions, meaning how often the iteration loop gets repeated, can be set 
via `REPS`.
The problem size, which is the amount of numbers to be generated, can be set via the 
`PSIZE` environment variable.

It is important to note that it is best to start the execution of the pbs file from the 
./f2lin directory.
After a benchmark has finished, the result is written into a .csv file.

When all the benchmarks are completed, the .csv file will be moved into the ./benchmarks 
directory
